* {
  padding: 0;
  margin: 0;
}

body {
  border: 1px solid red;
}

/**
 * Helper classes
 */

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right
}
.clearfix {
  overflow: hidden;
}
.text-uppercase {
    text-transform: uppercase;
}

/**
 * Header
 */
header {
  padding: 30px 0;
  width: 100%;
  z-index: 1;
  background: #E8E8E8;
}

/**
 * Nav
 */
nav {
  list-style: none;
  text-transform: uppercase;
  /*text-align: left;*/
}
nav ul{
  display: inline-block;
  column-count: 4;
  column-gap: auto;
  column-rule-style: solid;
  font-size: 15px;
  margin-top: 30px;
  border-left: 3px solid black;
  float:right;
  width: 750px;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 15px;
}


nav ul li a {
  display: block;
  color: #4A4A4A;
  text-decoration: none;
 /*border-left: 2px solid black;*/

}

nav ul li p {
  font-size:10px;
}

.green {
    background: #1E6D24;
    font-color: black;
    text-align: center;
    padding: 20px;
}

.li-green {
    display: inline;
    text-decoration: none;
    list-style: none;
    position: relative;
}

.li-green a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 18px;
}

.search {
   height: 20px;
   width: 70px;
   background: white;
   list-style: none;
   display: inline-block;
   text-decoration: none
}

.photo1 {
    position:center;
}

.box1 {
    text-align: left;
    list-style: none;
    display: block;
    border: 1px solid grey;
    height: 550px;
    width: 30%;
    position: relative;
    float: left;

}

.box2 {
    text-align: left;
    list-style: none;
    display: block;
    border: 1px solid grey;
    height: 550px;
    width: 30%;
    position: relative;
    float: left;
    margin-left: 42px;
}

.box3 {
    text-align: left;
    list-style: none;
    display: block;
    border: 1px solid grey;
    height: 550px;
    width: 30%;
    position: relative;
    float: right;
}
.box3 img  {
    width:100%;
    height: 445px;
    margin-top: 20px;
}
.boxes ul {
    padding: 25px;
    list-style: none;
}

.box2 ul li {
    padding: 25px;
    list-style: none;
}

h1 {
    margin:5px;
}

.box1 button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;

}

.box2 button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;


}

.box3 button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}