* {
  padding: 0;
  margin: 0;
}

body {
  border: 1px solid red;
}

/**
 * Helper classes
 */

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right
}
.clearfix {
  overflow: hidden;
}
.text-uppercase {
    text-transform: uppercase;
}

/**
 * Header
 */
header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: #E8E8E8;
}

/**
 * Nav
 */
nav {
  list-style: none;
  text-transform: uppercase;
  /*text-align: left;*/
}
nav ul{
  display: inline-block;
  column-count: 4;
  column-gap: auto;
  column-rule-style: solid;
  font-size: 15px;
  margin-top: 30px;
  border-left: 3px solid black;
  float:right;
  width: 750px;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 15px;
}
.green {

}
.li-green {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 15px;
  position: relative;

}

nav ul li a {
  display: block;
  color: #4A4A4A;
  text-decoration: none;
 /*border-left: 2px solid black;*/

}

nav ul li p {
  font-size:10px;
}

.slide {
  height: 659px;
  width: 100%;
  position: relative;
}